<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= simple_form_for @recipe do |f| %>
  <%= f.input :title %>
  <%= f.association :cuisine %>
  <%= f.input :recipe_type %>
  <%= f.input :servings %>
  <%= f.input :cook_time %>
  <%= f.input :difficulty, collection: [t('.easy'), t('.medium'), t('.hard')] %>
  <%= f.input :ingredients %>
  <%= f.input :method %>
  <%= f.button :submit %>
<% end %>
