<!DOCTYPE html>
<html>
  <head>
    <title>Mycookbook3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container container-top-spacing" role="main">
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
